@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../public/fonts/Calibre/Calibre";
@import "../public//fonts//JetBrainsMono/JetBrainsMono";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(112, 0, 255, 0.05);
  cursor: none;
}

body {
  box-sizing: border-box;
  @apply bg-gray-dark-3 text-white overflow-x-hidden;
}

html {
  scroll-behavior: smooth;
  -ms-overflow-style: scrollbar;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;

  @media (min-width: 320px) {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    font-size: 15px;
  }
  @media (min-width: 1024px) {
    font-size: 16px;
  }
  @media (min-width: 1536px) {
    font-size: 18px;
  }
  @media (min-width: 1800px) {
    font-size: 20px;
  }
  @media (min-width: 2000px) {
    font-size: 22px;
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(112, 0, 255, 0.75);
  opacity: 0.5;
  border-radius: 1rem;
  transition: all 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: theme("colors.indigo.dark");
  opacity: 1;
}

::-moz-selection {
  background-color: theme("colors.purple");
  color: #fff;
}

::selection {
  background-color: theme("colors.purple");
  color: #fff;
}

.section-container {
  @apply 2xl:container xl:px-20 md:px-12 px-4 mx-auto;
}

a,
input[type="checkbox"] {
  cursor: none !important;
}

.outer-menu {
  z-index: 1;

  .checkbox-toggle {
    z-index: 2;

    &:checked {
      + {
        .hamburger {
          > div {
            transform: rotate(135deg);
            &:before {
              top: 0;
              transform: rotate(90deg);
            }
            &:after {
              top: 0;
              transform: rotate(90deg);
              opacity: 0;
            }
          }
        }
      }
      ~ {
        .menu {
          pointer-events: auto;
          visibility: visible !important;
          > div {
            transform: scale(1);
            transition-duration: 0.75s;
            > div {
              opacity: 1;
              transition: opacity 0.4s ease 0.4s;
            }
          }
        }
      }
      &:hover {
        + {
          .hamburger {
            > div {
              transform: rotate(225deg);
            }
          }
        }
      }
    }
  }
  .hamburger {
    z-index: 1;
    backface-visibility: hidden;

    > div {
      height: 0.125rem;
      transition: all 0.4s ease;
      -webkit-box-pack: center;

      &:before,
      &:after {
        content: "";
        z-index: 1;
        position: absolute;
        left: 0;
        width: 100%;
        top: -0.5rem;
        height: 0.125rem;
        background: inherit;
        transition: all 0.4s ease;
      }
      &:after {
        top: 0.5rem;
      }
    }
  }
  .soundBars {
    display: absolute;
    height: 19px;
    width: 18px;
    border-radius: 100%;
    // background-color: #120e16;
    span {
      // background: theme("colors.white");
      background: linear-gradient(
        to right,
        theme("colors.indigo.light"),
        theme("colors.indigo.dark")
      );
      margin: auto 1px 0;
      height: 100%;
      width: 2px;
      transform: scaleY(0.99);
      transform-origin: bottom;
      box-shadow: 0 4px 0 rgba(255, 255, 255, 0.2);
      transition: all 0.4s ease-in-out;

      // Different height bars
      &:nth-child(1) {
        transform: scaleY(0.8);
      }
      &:nth-child(2) {
        transform: scaleY(0.6);
      }
      &:nth-child(4) {
        transform: scaleY(0.4);
      }
    }
    &.play > span {
      animation: sound-bars-animation 2s infinite alternate-reverse;

      // Scatter animations
      &:nth-child(1) {
        animation-delay: 0.4s;
      }
      &:nth-child(2) {
        animation-delay: 0.2s;
      }
      &:nth-child(3) {
        animation-delay: 0.6s;
      }
      &:nth-child(4) {
        animation-delay: 0.8s;
      }
    }
    &:before {
      content: "";
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
      background: #fff;
      border-radius: 100%;
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      &:before {
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        opacity: 1;
      }

      > span {
        background: #000;
      }
    }
  }
  .menu {
    backface-visibility: hidden;
    outline: 0.0625rem solid transparent;
    > div {
      width: 240vw;
      height: 240vw;
      transform: scale(0);
      will-change: transform;
      border-radius: 50%;
      transition: all 0.4s ease;
      backface-visibility: hidden;
      background: rgba(
        0,
        0,
        0,
        0.8
      ); //check it out later when more text is on the background to change the opacity
      // @supports not (backdrop-filter: blur(0.625rem)) {
      //   background: rgba(0, 0, 0, 0.8);
      // }

      > div {
        max-width: 90vw;
        transition: opacity 0.4s ease;
      }
      ul {
        li {
          a {
            background: linear-gradient(
              90deg,
              #ffffff 0%,
              #ffffff 50%,
              #8b31ff 51%,
              #7000ff 100%
            );
            background-size: 200% 100%;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            &:hover {
              background-position: 100% 0;
            }
          }
        }
      }
    }
  }
}

.progress {
  height: 0.1875rem;

  .progress-bar {
    height: 0.2rem;
    transform-origin: left;
    will-change: transform;
    transform: scaleX(0);
    @apply w-full bg-white;
  }
}

.text-gradient {
  background: linear-gradient(
    to right,
    theme("colors.indigo.light"),
    theme("colors.indigo.dark")
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes sound-bars-animation {
  // 0% - 50% uses inherited properties
  50% {
    opacity: 0.2;
    transform: scaleY(0.2);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

$bg: #f4faff;

.wrapper {
  margin: 0 auto;
  padding: 4rem 0;
  display: inline-block;
  position: relative;
  perspective: 100em;
  transition: 0.4s ease;
  .page {
    width: 300px;
    border-radius: 30px;
    transform-style: preserve-3d;
    transition: 0.5s ease;
    padding: 30px 40px 0;
    position: relative;
    z-index: 0;
    background: linear-gradient(
      to right,
      theme("colors.gray.light.1"),
      theme("colors.gray.dark.3")
    );
    .radio-wrapper {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding-left: 10px;
      .choice-container {
        position: relative;
        display: flex;
        align-items: center;
        input {
          position: absolute;
          opacity: 0;
          height: 18px;
          width: 18px;
          top: -38px;
          left: -10px;
          z-index: 1;
          + label {
            display: flex;
            position: relative;
            padding: 5px 0 5px 30px;
            font-size: 20px;
            font-weight: 600;
            &:hover {
              &:before {
                content: "";
                box-shadow: 0 0 0 5px rgba(#7000ff, 0.5);
              }
            }
            &:before {
              content: "";
              position: absolute;
              width: 16px;
              height: 16px;
              outline: 3px solid #7000ff;
              border-radius: 50%;
              left: 0;
              top: 20%;
              transition: border 0.1s ease-in-out 1.6s, box-shadow 0.2s ease;
            }
          }
          &:checked {
            + label:before {
              content: "";
              position: absolute;
            }
            + label:after {
              content: "";
              position: absolute;
              opacity: 1;
            }
          }
        }
      }
    }
  }

.primary__button__active {
  background-position: 98%;
  color: #fff;
  box-shadow: 0 0 1rem theme("colors.indigo.dark");
}

.heart-btn {
  cursor: none;
}

.milk-404 {
  max-height: 100vh;
}

#mouth-frown {
  visibility: hidden;
}
}